<!DOCTYPE html>
<html>

<head>
        <title>BMR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap Css -->
        <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-3.3.6/css/bootstrap.min.css">        
        <!-- Bootstrap Select Css -->
        <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-select-1.10.0/dist/css/bootstrap-select.min.css">
        <!-- Fonts Css -->
        <link rel="stylesheet" type="text/css" href="/plugins/font-awesome-4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/plugins/font-elegant/elegant.css">
        <!-- OwlCarousel2 Slider Css -->
        <link rel="stylesheet" type="text/css" href="/plugins/owl.carousel.2/assets/owl.carousel.css">


        <!-- Animate Css -->       
        <link rel="stylesheet" type="text/css" href="/css/animate.css">

        <!-- Main Css -->
        <link rel="stylesheet" type="text/css" href="/css/theme.css">
             <link rel="stylesheet" type="text/css" href="/css/custom.css">


        <!--[if lt IE 9]>
        <script src="/plugins/iesupport/html5shiv.js"></script>
        <script src="/plugins/iesupport/respond.js"></script>
        <![endif]-->
    </head>
    <body id="home">

        <!-- Main Wrapper -->        
        <main class="wrapper">

            <!-- Header -->
            <header class="header-main">

                <!-- Header Topbar -->
                <div class="top-bar font2-title1 white-clr">
                    <div class="theme-container container">
                        <div class="row">
               
                            <div class="col-md-12 col-sm-12 fs-12">
                                <p class="contact-num">  <i class="fa fa-phone"></i> Call us now: <span class="theme-clr"> +977 9860394938</span> </p>
                            </div>
                        </div>
                    </div>
                    <a data-toggle="modal" class="sign-in fs-12 theme-clr-bg"> Hi</a>
                </div>
                <!-- /.Header Topbar -->

                <!-- Header Logo & Navigation -->
                        <nav class="menu-bar font2-title1">
                    <div class="theme-container container">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-logo" href="#"> <h3> BMR</h3></a>
                            </div>
                            <div class="col-md-10 col-sm-10 fs-12">
                                <div id="navbar" class="collapse navbar-collapse no-pad">
                                    <ul class="navbar-nav theme-menu">
                                        <li class="active"><a href="/home">Home </a></li>
                                        <li> <a href="/about">about</a> </li>
                                        <li> <a href="/tracking"> My REPORT</a> </li>
                                          <li> <a href="/quote"> REPORT</a> </li>
                                        <li> <a href="/doctor_details"> Doctors </a> </li>
                                        <li> <a href="/contact"> contact </a> </li>
                             
                             
                                    </ul>                                                      
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- /.Header Logo & Navigation -->

            </header>
            <!-- /.Header -->

            <!-- Content Wrapper -->
            <article> 
                <!-- Breadcrumb -->
                <section class="theme-breadcrumb pad-50">                
                    <div class="theme-container container ">  
                        <div class="row">
                            <div class="col-sm-8 pull-left">
                                <div class="title-wrap">
                                    <h2 class="section-title no-margin">Our Doctors</h2>
                                    <p class="fs-16 no-margin">Know about our Doctors</p>
                                </div>
                            </div>
                            <div class="col-sm-4">                        
                                <ol class="breadcrumb-menubar list-inline">
                                    <li><a href="#" class="gray-clr">Home</a></li>                                   
                                    <li class="active">Doctors</li>
                                </ol>
                            </div>  
                        </div>
                    </div>
                </section>
                <!-- /.Breadcrumb -->

                <!-- Pricing & Plans -->
                <section class="pricing-wrap pad-80">                
                    <div class="theme-container container">                            
                        <div class="row pb-50">
                            <div class="col-md-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                                <div class="pricing-box clrbg-before clrbg-after transition">
                                    <div class="title-wrap text-center">
                                        <h2 class="section-title fs-36"><img class="doctorimg" src="/img/background/DrSanduk.jpeg"></h2>
                                        <h3>PROF. DR.SANDUK RUIT</h3>
                                        <!-- <div class="btn-1">basic</div> -->
                                    </div>
                                    <div class="price-content">                                    
                                        <ul class="title-2">
                                            <li> NMC Number: <span class="gray-clr">1874</span> </li>
                                            <li> Qualification: <span class="gray-clr">  MD, FRACO</span> </li>
                                            <li> Speciality: <span class="gray-clr">  N/A</span> </li>
                                            <!-- <li> duration: <span class="gray-clr">7-14 days</span> </li>
                                            <li> support: <span class="gray-clr">yes</span> </li> -->
                                        </ul>
                                    </div>
                                    <!-- <div class="order">
                                        <a href="#" class="title-1 theme-clr"> <span class="transition"> order now </span> <i class="arrow_right fs-26"></i> </a>
                                    </div>-->
                                    <div class="pricing-hover clrbg-before clrbg-after transition"></div> 
                                </div>
                            </div>
                            <div class="col-md-4 active white-clr wow fadeInUp" data-wow-offset="50" data-wow-delay=".40s">
                                <div class="pricing-box theme-clr-bg">
                                    <div class="title-wrap text-center">
                                        <h2 class="section-title fs-36"><img class="doctorimg" src="/img/background/Rohit.jpeg"></h2>
                                        <h3>PROF. DR. ROHIT SAIJU</h3>
                                        <!-- <div class="btn-1 dark">Premium</div> -->
                                    </div>
                                    <div class="price-content">                                    
                                        <ul class="title-2">
                                            <li> NMC Number: <span class="white-clr"> 1943</span> </li>
                                            <li> Qualification: <span class="white-clr">  MD, Ophthalmology TUTH</span> </li>
                                            <li> Speciality: <span class="white-clr">Consultant Ophthalmologist/Plastic Eye Surgeon</span> </li>
                                            <!-- <li> support: <span class="white-clr">yes</span> </li> -->
                                        </ul>
                                    </div>
                                    <!-- <div class="order">
                                        <a href="#" class="title-1 white-clr"> <span class="transition"> order now </span> <i class="arrow_right fs-26"></i> </a>
                                    </div>                                 -->
                                </div>
                            </div>
                            <div class="col-md-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".40s">
                                <div class="pricing-box clrbg-before clrbg-after transition">
                                    <div class="title-wrap text-center">
                                        <h2 class="section-title fs-36"><img class="doctorimg" src="/img/background/Sanyam.jpeg"></h2>
                                        <h3>DR. SANYAM BAJIMAYA</p>
                                        <!-- <div class="btn-1">standard</div> -->
                                    </div>
                                    <div class="price-content">                                    
                                        <ul class="title-2">
                                            <li> NMC Number: <span class="gray-clr">3974</span> </li>
                                            <li> Qualification: <span class="gray-clr">  MBBS, MD, FVRS</span> </li>
                                            <li> Speciality: <span class="gray-clr">Consultant Eye Surgeon</span> </li>
                                            <!-- <li> support: <span class="gray-clr">yes</span> </li> -->
                                        </ul>
                                    </div>
                                    <!-- <div class="order">
                                        <a href="#" class="title-1 theme-clr"> <span class="transition"> order now </span> <i class="arrow_right fs-26"></i> </a>
                                    </div>-->
                                    <div class="pricing-hover clrbg-before clrbg-after transition"></div> 
                                </div>
                            </div>
                        </div>

                    
                    </div>               
                </section>
                <!-- /.Pricing & Plans -->
            </article>
            <!-- /.Content Wrapper -->

            <!-- Footer -->
         <footer>
                <div class="footer-main pad-120 white-clr">
                    <div class="theme-container container">               
                        <div class="row">
                            <div class="col-md-3 col-sm-6 footer-widget">
                                <a href="#"> <h2>BMR</h2></a>
                            </div>
                            <div class="col-md-3 col-sm-6 footer-widget">
                                <h2 class="title-1 fw-900">quick links</h2>
                                <ul>
                                    <li> <a href="/doctor_details">Our Doctors</a> </li>
                                    <li> <a href="#">payment method</a> </li>
                                    <li> <a href="/contact">support</a> </li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-6 footer-widget">
                                <h2 class="title-1 fw-900">important links</h2>
                                <ul>
                                    <li> <a href="/doctor_details">Our Doctors</a> </li>
                                    <li> <a href="#">payment method</a> </li>
                                    <li> <a href="/contact">support</a> </li>
                                 
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-6 footer-widget">
                                <h2 class="title-1 fw-900">get in touch</h2>
                                <ul class="social-icons list-inline">
                                    <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".20s"> <a href="#" class="fa fa-facebook"></a> </li>
                                    <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".25s"> <a href="#" class="fa fa-twitter"></a> </li>
                                    <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".30s"> <a href="#" class="fa fa-google-plus"></a> </li>
                                    <li class="wow fadeIn" data-wow-offset="50" data-wow-delay=".35s"> <a href="#" class="fa fa-linkedin"></a> </li>
                                </ul>
                      
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="theme-container container">               
                        <div class="row">
                            <div class="col-md-12 col-sm-12" align="center">
                                <p> © Copyright 2021, All rights reserved </p>                            
                            </div>
                  
                        </div>
                    </div>
                </div>
            </footer>
            <!-- /.Footer -->


        </main>
        <!-- / Main Wrapper -->

        <!-- Top -->
        <div class="to-top theme-clr-bg transition"> <i class="fa fa-angle-up"></i> </div>

        <!-- Popup: Login -->
        <div class="modal fade login-popup" id="login-popup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">                
                <a class="close close-btn" data-dismiss="modal" aria-label="Close"> x </a>

                <div class="modal-content">   
                    <div class="login-wrap text-center">                        
                        <h2 class="title-3"> sign in </h2>
                        <p> Sign in to <strong> GO </strong> for getting all details </p>                        

                        <div class="login-form clrbg-before">
                            <form class="login">
                                <div class="form-group"><input type="text" placeholder="Email address" class="form-control"></div>
                                <div class="form-group"><input type="password" placeholder="Password" class="form-control"></div>
                                <div class="form-group">
                                    <button class="btn-1 " type="submit"> Sign in now </button>
                                </div>
                            </form>
                            <a href="#" class="gray-clr"> Forgot Passoword? </a>                            
                        </div>                        
                    </div>
                
                </div>
            </div>
        </div>
        <!-- /Popup: Login --> 

        <!-- Search Popup -->
        <div class="search-popup">
            <div>
                <div class="popup-box-inner">
                    <form>
                        <input class="search-query" type="text" placeholder="Search and hit enter" />
                    </form>
                </div>
            </div>
            <a href="javascript:void(0)" class="close-search"><i class="fa fa-close"></i></a>
        </div>
        <!-- / Search Popup -->

        <!-- Main Jquery JS -->
        <script src="/js/jquery-2.2.4.min.js" type="text/javascript"></script>        
        <!-- Bootstrap JS -->
        <script src="/plugins/bootstrap-3.3.6/js/bootstrap.min.js" type="text/javascript"></script>    
        <!-- Bootstrap Select JS -->
        <script src="/plugins/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js" type="text/javascript"></script>    
        <!-- OwlCarousel2 Slider JS -->
        <script src="/plugins/owl.carousel.2/owl.carousel.min.js" type="text/javascript"></script>   
        <!-- Sticky Header -->
        <script src="/js/jquery.sticky.js"></script>
        <!-- Wow JS -->
        <script src="/plugins/WOW-master/dist/wow.min.js" type="text/javascript"></script>   

        <!-- Slider JS -->        


        <!-- Theme JS -->
        <script src="/js/theme.js" type="text/javascript"></script>

    </body>


</html>
