<div class="calculate-form">
    <form class="row" action="/doctor_entry" method="POST">
        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
            <div class="col-sm-3"> <label class="title-2"> Doctor Name </label></div>
            <div class="col-sm-9"> <input type="text" placeholder="" class="form-control" name="name"> </div>
        </div>
        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
            <div class="col-sm-3"> <label class="title-2"> NMC Number </label></div>
            <div class="col-sm-9"> <input type="text" placeholder="" class="form-control" name="NMCNumber"> </div>
        </div>
        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
            <div class="col-sm-3"> <label class="title-2"> Hospital Name : </label></div>
            <div class="col-sm-9"> <input type="text" placeholder="" class="form-control" name="hospitalName"> </div>
        </div>
        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
            <div class="col-sm-3"> <label class="title-2"> Qualification: </label></div>
            <div class="col-sm-9"> <input type="text" placeholder="" class="form-control" name="qualification"> </div>
        </div>
        <div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
            <div class="col-sm-3"> <label class="title-2"> Speciality: </label></div>
            <div class="col-sm-9"> <input type="text" placeholder="" class="form-control" name="speciality"> </div>
        </div>
</div>
<div class="form-group wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
    <div class="col-sm-9 col-xs-12 pull-right">
        <input type="submit" class="btn-1 submit_btn" value="Submit" />
    </div>
</div>
</form>
</div>